.DS_Store
results/*.pt
figures/*
*.neptune
*.pyc
*.ipynb_checkpoints
*.out
results/*/*.pt
make_file/*.sbatch
make_file
debug/*
presentation/*.png
presentation/frames/*.png
presentation/LR_frames/*.png
presentation/frames
presentation/LR_frames
presentation/gifs/*.gif
presentation/ACC_spectrum_asset
presentation/visualize_tools
presentation/visualize_tools/*
figures_v2_snapshots
*.gif
output
debug
figures
make_file
bash2slurm.sh
plot_2.sh
venv/
superbench_v1.tar